<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot name="gripper" xmlns:xacro="http://ros.org/wiki/xacro">

		<!-- define relative movement to get to gripper_description/ -->
		<xacro:property name="path_to_top" value="../.."/>

		<!-- load the gripper xacro -->
		<xacro:include filename="${path_to_top}/xacro/semantic/add_gripper_config.xacro"/>
		
		<!-- run the macros -->
		<xacro:add_gripper_config path_to_top="${path_to_top}"/>

</robot>
